BasedOnStyle: Google
ColumnLimit: 80
AccessModifierOffset: -1
NamespaceIndentation: All
FixNamespaceComments: false
AlignAfterOpenBracket: Align
AlignOperands: true
BinPackArguments: false
BinPackParameters: false
BreakBeforeBinaryOperators: None
BreakConstructorInitializers: AfterColon
ConstructorInitializerAllOnOneLineOrOnePerLine: false
AllowAllArgumentsOnNextLine: false
AllowAllConstructorInitializersOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false